.frontscreen-img {
    background-image: url('https://images.unsplash.com/photo-1490730141103-6cac27aaab94?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJlZXxlbnwwfHwwfHx8MA%3D%3D');
    
    background-position: right  ;
    background-repeat: no-repeat;
    background-size: contain;
}

.list a {
    width: 90px;
}

.imgs {
    
    object-fit: cover;
    border-radius: 20%;
    min-height: 100px;
  
}

.imggg {
    font-weight: 300px;
    background-color: aqua;
}